body {
	background-color: #2FCD85;
	margin: 0;
}

.container {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.box {
	width: 600px;
	height: 400px;
	margin: auto;
	background-color: white;
}
.box--some{
	display: none;
}

.box-border {
	border: 1px solid #c5c5c5;		
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.center {
	position: relative;
}
.password{
	display: inline-block;
}
.Hbutton{
	box-shadow: 0 0 0 0;
    border: 0 none;
	outline: 0;
	background: #ffffff;
	display: block;
	margin-left: 31%;
}

.bord{
	border: 0;
	border-bottom: 1px solid #000;
	outline: 0;
	box-shadow: 0;
	width: 50%;
	
}
.signup_button{
	position: absolute;
	bottom: 10px;
	right: 10px;
	
}
.fechar{
	position: absolute;
	top: 5px;
	right: 10px;
}
.formulario{
	position: absolute;
	top: 10%;
	left: 5%;

